experiments/experiment_omnet/summary
experiments/experiment_omnet/*.log
experiments/experiment_omnet/*.pth
experiments/experiment_omnet/val*
experiments/experiment_omnet/test*
dataset/data
dataset/data.zip
dataset/*.ply
*/__pycache__
checkpoints
configs
.idea/